.game {
    display          : block;
    width            : 100vw;
    height           : 100vh;
    overflow         : hidden;

    background-color : #111;
    color            : #bfad8f;

    font-family      : 'Special Elite', serif;
    font-size        : 12px;

    .stacks {
        position        : absolute;
        top             : 50%;
        transform       : translateY(-50%);

        height          : 40vh;
        width           : 100vw;

        display         : flex;
        flex-flow       : row nowrap;
        justify-content : space-between;
    }
}
