@cardHeight : 240px;
@cardWidth  : .64 * @cardHeight;

@offensive  : #B4300A;
@defensive  : #0047e0;
@buff       : #87E431;
@special    : #8C8C8C;
@regen      : #00aaff;

@glowSize   : 20px;

@borderWidth: 1px;

.card {
    width               : @cardWidth;
    height              : @cardHeight;

    border-radius       : 10px;

    padding             : .5em;

    display             : flex;
    flex-flow           : column nowrap;
    justify-content     : space-between;

    border              : solid @borderWidth #bfad8f;
    //border-image-source        : url('/img/border.png');
    //border-image-slice: 18;
    //border-image-width: 10px;
    //border-image-outset: -15px;

    background-image    : url('/img/bg1.png');
    background-position : center;

    .name {
        order      : 1;
        text-align : center;
        margin-top : .25em;
    }

    .art {
        order       : 2;
        flex-shrink : 2;
    }

    .description {
        order      : 2;
        text-align : justify;
    }

    .priority {
        order         : 3;
        //align-self : flex-start;
        margin-bottom : .25em;
    }

}

.card-offensive {
    background-color : @offensive;

    &:hover {
        box-shadow : 0 0 @glowSize @offensive;
    }
}

.card-defensive {
    background-color : @defensive;

    &:hover {
        box-shadow : 0 0 @glowSize @defensive;
    }
}

.card-buff {
    background-color : @buff;

    &:hover {
        box-shadow : 0 0 @glowSize @buff;
    }
}

.card-special {
    background-color : @special;

    &:hover {
        box-shadow : 0 0 @glowSize @special;
    }
}

.card-regen {
    background-color : @regen;

    &:hover {
        box-shadow : 0 0 @glowSize @regen;
    }
}

.card-reverse {
    width             : 100%;
    height            : 100%;

    background-image  : url('/img/reverse-art.svg');
    background-repeat : no-repeat;
    background-position: center;
}
