.hand {

    position  : fixed;
    bottom    : 15%;
    left      : 50%;
    transform : translateX(-50%);

    display   : flex;
    flex-flow : row nowrap;

    .card-wrapper {
        transform-origin : center 150%;
        transition       : transform 200ms ease-in-out;
        transition-delay : 50ms;

        &:hover {
            transform : scale(1.25);
        }
    }

    .card {
        position            : absolute;
        top                 : 50%;
        left                : 50%;

        transform-origin : center 300%;

        transition       : all 200ms ease-in-out;

        &:hover {
            z-index: 10;
        }
    }

}
